body{
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    background-image: url(./assets/image/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    flex: 1;
    line-height: 1.5rem;
}

header{
    text-align: center;
    font-size: 2rem;
    font-style: italic;
}

.sub-tittle{
    font-style: italic;
    font-size: 2rem;
}

.list{
    font-size: 1.5rem;
    text-indent: 1rem;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: italic;
    font-size: 2rem;
}

.link {
    color: black;
}

.logo {
    height: 50px;
    width: auto;
}


